.App {
  text-align: center;
  background-color: #ffffff;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #cef1fb;
}

.pic {
    padding:100px;
    max-height: 100%;
    max-width: 100%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.questions {
    display: block;
    position: relative;
    padding-left: 35px;
    padding-bottom: 12px;
    cursor: auto;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.questions input {
    position: absolute;
    opacity: 0;
    cursor: None;
    height: 0;
    width: 0;

}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    cursor: pointer;
    margin-top:20px;
    background-color: #e9e7e7;
    border-radius: 50%;
}

.about-container {
    text-align: left;
}

.about-container h1 {
    text-align: center;
}

.about-container li {
    font-size:20px;
}
/* On mouse-over, add a background color
.questions:hover input ~ .checkmark {
    background-color: #ccc;
} */

/* When the radio button is checked, add a background */
.questions input:checked ~ .checkmark {
    background-color: #000000;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.questions input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.questions .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ffffff;
}

.question {
    text-align: left;
}


.footer{
    padding: 100px 0px 0px 0px;
}

.header{
    padding: 200px 0px 2000px 0px;
}


.bg0 {
    background-color: #add8e6;
}

.bg1 {
    background-color: #b9eeb4;
}

.bg2 {
    background-color: #6a97ee;
}

.bg3 {
    background-color: #a99adb;

}

.quiz-container {
    background-color: #b9eeb4;
}

.header-container ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

.header-container li {
    float: left;
}

.header-container li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header-container li a:hover {
    background-color: #111;
}

img {
    max-height: 100%;
    max-width: 100%;
}


.option {
    margin-right:38px;
    font-size: 95%;
    margin-top:18px;
}

.retake {
    margin-top:90px;
}

h4 {
    margin-right:60px;
    margin-left:60px;
}

.titleInfo {
    text-align: left;
}


.demographic-form{
    text-align: left;
}

.demographic-container {
    background-color: #eee7a5;
}

.demographic-questions {
    margin-left: 20px;
}

.demographic-radio {
    width: 22px;
    height: 22px;
    margin: 10px 10px 0 0;
    box-sizing: border-box;
    padding-top: 20px;
}

.demographic-text {
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    text-decoration: none;
}

.demographic-number {
    width:80px !important;
}

.result-copy {
    font-size: 22px;
    font-weight: 500;
}
.result-copy li {
    font-size: 22px;
    font-weight: normal;
}

.result-container {
    text-align: left;
}

.result-container .btn {
    text-align: center;
}
